*{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 0;
    
}
body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100dvh;
    padding: 0px 20px 0px 20px;
}
.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: pink;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    width: 100%;
    max-width: 500px;
}
.input-row{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}
.input-row select {
  flex: 1;
  min-width: 100px;
  padding: 13px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}
.input-row input {
  flex: 3;
  min-width: 300px;
  padding: 13px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}
.input-row button {
	background-color: #25d366;
	color: white;
	border: none;
	padding: 13px;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.2s ease;
  width: 100%;
  margin-bottom: 15px;
}
.input-row button:hover {
	background-color: #1ebe5d;
}
